#first_section_cv{
    background-color: $Dark_light_8;
    padding: 6rem 2rem 4rem 2rem;
    text-align: center;
    border-radius: 16px;
    & p {
        margin: 0;
        opacity: 0;

        &:first-child, &:nth-child(2) {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            color: $Dark_light_2;
        };

        &:nth-child(3), &:nth-child(4) {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $Dark_light_3;
        };
    };
}

hr {
    border: none;
    border-top-style: dotted;
    width: 60px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-width: 10px;
}