// Nav-Bar Animation
.animation-down {
    animation: animate_down 0.2s ease-out 0s 1 normal forwards;
}

@keyframes animate_down {
    0% {
        bottom: 8%;
    };

    100% {
        bottom: -20%;
    };
};

.animation-up {
    animation: animate_up 0.2s ease-out 0s 1 normal forwards;
}

@keyframes animate_up {
    0% {
        bottom: -8%;
    };

    50% {
        bottom: 12%;
    }

    100% {
        bottom: 8%;
    };
};

// Svg animation on profile picture
.infinite_rotation {
    animation: infinite_rotation 80s linear 2s infinite normal forwards;
}

@keyframes infinite_rotation {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}


// Second Section
// timer_svg animation
.starting_animation {
    stroke-dasharray: 357;
    stroke-dashoffset: 357;
    animation: x 1.5s linear 0s 1 forwards;
}

@keyframes x {
    from {
        stroke-dashoffset: 357;
    }

    to {
        stroke-dashoffset: 0;
    }
}




.timer_svg {
    stroke-dasharray: 357;
    stroke-dashoffset: 0;
    animation: strock 60s linear 0s 1 forwards;
}

@keyframes strock {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 357;
    }
}

.background_flash {
    border-radius: 2rem;
    animation: flash 0.5s ease-in 0s 1 normal forwards;
}

@keyframes flash {
    0% {
        box-shadow: 0px 0px 0px 0px $light_main;
    }

    50% {
        box-shadow: 2px 2px 12px 3px $light_main;
    }

    100% {
        box-shadow: 0px 0px 0px 0px $light_main;
    }
}



// Second Page
// meter animation

.meter-animation{
    stroke-dasharray: 357;
    stroke-dashoffset: 357;
    animation: meter 2s ease-in-out 0.2s 1 normal forwards;
}

// frist meter (64%)
@keyframes meter {
    from{
        stroke-dashoffset: 357;
    }

    to {
        stroke-dashoffset: 129;
    }
}

// second meter (55%)
.meter-animation_2{
    stroke-dasharray: 357;
    stroke-dashoffset: 357;
    animation: meter_2 2s ease-in-out 0.5s 1 normal forwards;
}

@keyframes meter_2 {
    from{
        stroke-dashoffset: 357;
    }

    to {
        stroke-dashoffset: 160;
    }
}

// last meter (72%)
.meter-animation_3{
    stroke-dasharray: 357;
    stroke-dashoffset: 357;
    animation: meter_3 2s ease-in-out 0.75s 1 normal forwards;
}

@keyframes meter_3 {
    from{
        stroke-dashoffset: 357;
    }

    to {
        stroke-dashoffset: 100;
    }
}
