@media (max-width: 900px) {
    div.fixed-navbar-position-home{
        & nav {
            gap: 8vh;
        }
    }

    #first_section_home {
        justify-content: center;
    }

    #third_section_home {
        padding: 2rem;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 780px) {
    div.fixed-navbar-position-home{
        & nav {
            gap: 0.5vh;

            &:first-child {
                margin-left: 8px;
            }
            &:last-child {
                margin-left: 8px;
            }
        }
    }

    .profile {
        display: none;
    }

    .Logo {
        display: none;
    }

    .fixed-navbar-position-home nav i {
        display: none;
    }

    #contentEditableDiv {
        visibility: hidden;
    }

}
