@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@600&family=Open+Sans:wght@400;600&display=swap");
body {
  margin: 30px 50px;
}

.grid-container-home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
}
.grid-container-home > section:nth-child(1) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(2) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(3) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(4) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(5) {
  grid-column: span 12;
}

#first_section_home {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #FFEB3B;
  border-radius: 16px 16px 0px 0px;
}
#first_section_home div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#first_section_home div:first-child div:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
#first_section_home div:first-child div:last-child {
  display: flex;
  gap: 40px;
  padding: 16px;
}
#first_section_home div:first-child div:last-child button {
  background-color: #D4CCF0;
  border: 2px solid #443E5B;
  border-radius: 2rem;
  font-family: "Montserrat";
  color: #3E3950;
  display: flex;
  padding: 8px 24px;
}
#first_section_home div:first-child div:last-child button:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
#first_section_home div:first-child div:last-child a {
  text-decoration: none;
  color: #443E5B;
  font-family: "Montserrat";
  text-align: center;
  display: flex;
  gap: 12px;
  align-items: center;
}
#first_section_home div:first-child div:last-child a:hover {
  text-decoration: underline;
}

.profile {
  position: relative;
}
.profile div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}

#second_section_home > .typing_area {
  border: 1px solid red;
  height: 5rem;
  width: 42rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(300, 1fr);
  align-items: center;
}
#second_section_home > .typing_area div:nth-child(1) {
  grid-column: span 149;
  justify-self: flex-end;
}
#second_section_home > .typing_area div:nth-child(2) {
  grid-column: span 0;
  outline: 0px solid transparent;
  color: blue;
}
#second_section_home > .typing_area div:nth-child(3) {
  grid-column: span 150;
}

.line_through {
  text-decoration: line-through;
}

#third_section_home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #BAA6FF;
  padding: 3rem 4rem;
  border-radius: 16px;
  gap: 16px;
  margin-top: 2rem;
}
#third_section_home a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 3rem 2rem;
  text-align: center;
  margin: 0;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #0D0724;
}
#third_section_home a:hover {
  background-color: #070412;
}
#third_section_home a h3 {
  font-family: "Montserrat";
  color: #736E84;
  text-decoration: underline;
}
#third_section_home a p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #E8E7EA;
}
#third_section_home a i {
  color: #E8E7EA;
}
#third_section_home a:nth-child(1) {
  grid-row: span 4;
}
#third_section_home a:nth-child(2) {
  grid-row: span 2;
}
#third_section_home a:nth-child(3) {
  grid-row: span 2;
}

#fourth_section_home {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  margin-top: 2rem;
  padding: 0rem 2rem;
}
#fourth_section_home > div > a {
  color: #443E5B;
}
#fourth_section_home > div > a:hover {
  color: #070412;
}

footer {
  margin-top: 2rem;
  background-color: #0D0724;
  border-radius: 16px;
  padding: 4rem;
}
footer .flex_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .flex_footer p {
  margin: 0;
  color: #A29FAD;
}
footer .flex_footer .icon-col {
  color: #A29FAD;
}
footer .flex_footer div:first-child {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .flex_footer div:first-child > div {
  display: flex;
  gap: 34px;
  align-items: center;
}
footer .flex_footer div:first-child > div > a {
  text-decoration: none;
  color: #A29FAD;
}
footer .flex_footer div:first-child > div > a:hover {
  text-decoration: underline;
  text-decoration: col;
}
footer .flex_footer div h1 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  color: #070412;
}
footer div.copy_right > p {
  text-align: center;
  margin-top: 2rem;
  color: #D0CFD6;
}

div.fixed-navbar-position-home {
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  bottom: 8%;
  background-color: #F9F9F9;
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
}
div.fixed-navbar-position-home nav {
  display: flex;
  gap: 15vh;
}
div.fixed-navbar-position-home nav > * {
  margin: 0;
  text-decoration: none;
  display: inline-flex;
  gap: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0D0724;
  padding: 8px 24px;
}
div.fixed-navbar-position-home nav > *:hover {
  color: #443E5B;
}
div.fixed-navbar-position-home nav > *:first-child {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #736E84;
}
div.fixed-navbar-position-home nav > * i {
  align-self: center;
}
div.fixed-navbar-position-home nav:first-child {
  margin-left: 24px;
}
div.fixed-navbar-position-home nav:last-child {
  margin-right: 24px;
}

.active {
  background-color: #F9F1A0;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.animation-down {
  animation: animate_down 0.2s ease-out 0s 1 normal forwards;
}

@keyframes animate_down {
  0% {
    bottom: 8%;
  }
  100% {
    bottom: -20%;
  }
}
.animation-up {
  animation: animate_up 0.2s ease-out 0s 1 normal forwards;
}

@keyframes animate_up {
  0% {
    bottom: -8%;
  }
  50% {
    bottom: 12%;
  }
  100% {
    bottom: 8%;
  }
}
.infinite_rotation {
  animation: infinite_rotation 80s linear 2s infinite normal forwards;
}

@keyframes infinite_rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@media (max-width: 900px) {
  div.fixed-navbar-position-home nav {
    gap: 8vh;
  }
  #first_section_home {
    justify-content: center;
  }
  #third_section_home {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 780px) {
  div.fixed-navbar-position-home nav {
    gap: 0.5vh;
  }
  div.fixed-navbar-position-home nav:first-child {
    margin-left: 8px;
  }
  div.fixed-navbar-position-home nav:last-child {
    margin-left: 8px;
  }
  .profile {
    display: none;
  }
  .Logo {
    display: none;
  }
  .fixed-navbar-position-home nav i {
    display: none;
  }
}