#second_section_cv {
    
    & .my_skills {
        row-gap: 4rem;
        column-gap: 16rem;
        margin: 4rem 0rem;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}