@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:wght@300&family=Montserrat:wght@600&family=Open+Sans:wght@400;600&display=swap");
body {
  margin: 30px 50px;
}

.grid-container-home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
}
.grid-container-home > section:nth-child(1) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(2) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(3) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(4) {
  grid-column: span 12;
}
.grid-container-home > section:nth-child(5) {
  grid-column: span 12;
}

#first_section_home {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #FFEB3B;
  border-radius: 16px 16px 0px 0px;
}
#first_section_home div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#first_section_home div:first-child div:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
#first_section_home div:first-child div:last-child {
  display: flex;
  gap: 40px;
  padding: 16px;
}
#first_section_home div:first-child div:last-child button {
  background-color: #D4CCF0;
  border: 2px solid #443E5B;
  border-radius: 2rem;
  font-family: "Montserrat";
  color: #3E3950;
  display: flex;
  padding: 8px 24px;
}
#first_section_home div:first-child div:last-child button:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
#first_section_home div:first-child div:last-child a {
  text-decoration: none;
  color: #443E5B;
  font-family: "Montserrat";
  text-align: center;
  display: flex;
  gap: 12px;
  align-items: center;
}
#first_section_home div:first-child div:last-child a:hover {
  text-decoration: underline;
}

.profile {
  position: relative;
}
.profile div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}

#second_section_home {
  margin: 3rem 0rem;
  padding: 3rem 0rem;
  background-image: url("../svg/Frame48.svg");
  background-size: 100%;
}
#second_section_home h1 {
  text-align: center;
  padding-bottom: 5rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
}
#second_section_home .timer_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 5rem;
}
#second_section_home .timer_area span:first-child {
  position: relative;
  background-color: #ffffff;
}
#second_section_home .timer_area span:first-child .timer_in_text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
}
#second_section_home .timer_area span:first-child .timer_in_text p {
  margin: 0;
}
#second_section_home .timer_area span:first-child .timer_in_text p:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
#second_section_home .timer_area span:first-child .timer_in_text p:last-child {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 12px;
}
#second_section_home .timer_area span span:last-child {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.25) inset;
  background-color: #ffffff;
}
#second_section_home .timer_area span span:last-child p {
  margin: 0;
}
#second_section_home .timer_area span span:last-child p:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
#second_section_home .timer_area span span:last-child p:last-child {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 12px;
}
#second_section_home > .typing_area {
  background-color: #ffffff;
  height: 8rem;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(300, 1fr);
  align-items: center;
  box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 25px;
  color: #0D0724;
}
#second_section_home > .typing_area div:nth-child(1) {
  grid-column: span 149;
  justify-self: flex-end;
  color: #D0CFD6;
}
#second_section_home > .typing_area div:nth-child(2) {
  grid-column: span 0;
  outline: 0px solid transparent;
  color: #754DFF;
  scroll-behavior: auto;
}
#second_section_home > .typing_area div:nth-child(3) {
  grid-column: span 150;
}
#second_section_home .buttons_div {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.line_through {
  text-decoration: line-through;
}

#third_section_home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #BAA6FF;
  padding: 3rem 4rem;
  border-radius: 16px;
  gap: 16px;
  margin-top: 2rem;
}
#third_section_home a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 3rem 2rem;
  text-align: center;
  margin: 0;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #0D0724;
}
#third_section_home a:hover {
  background-color: #070412;
}
#third_section_home a h3 {
  font-family: "Montserrat";
  color: #736E84;
  text-decoration: underline;
}
#third_section_home a p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #E8E7EA;
}
#third_section_home a i {
  color: #E8E7EA;
}
#third_section_home a:nth-child(1) {
  grid-row: span 4;
}
#third_section_home a:nth-child(2) {
  grid-row: span 2;
}
#third_section_home a:nth-child(3) {
  grid-row: span 2;
}

#fourth_section_home {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  margin-top: 2rem;
  padding: 0rem 2rem;
}
#fourth_section_home > div > a {
  color: #443E5B;
}
#fourth_section_home > div > a:hover {
  color: #070412;
}

#grid-container-cv {
  display: flex;
  flex-direction: column;
}

#first_section_cv {
  background-color: #F9F9F9;
  padding: 6rem 2rem 4rem 2rem;
  text-align: center;
  border-radius: 16px;
}
#first_section_cv p {
  margin: 0;
  opacity: 0;
}
#first_section_cv p:nth-child(2), #first_section_cv p:nth-child(3) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #3E3950;
}
#first_section_cv p:nth-child(4), #first_section_cv p:nth-child(5) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #443E5B;
}

hr {
  border: none;
  border-top-style: dotted;
  width: 60px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-width: 10px;
}

#second_section_cv {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #fff;
}
#second_section_cv > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.path {
  display: inline-block;
  position: absolute;
  top: 40rem;
}

path.path_svg {
  stroke-dasharray: 4821;
  stroke-dashoffset: 4821;
}

#second_section_cv .introArea {
  grid-column: 2/span 2;
  text-align: justify;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 4rem 0rem;
}

#second_section_cv .mark_shown_area {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 4rem 0rem;
}
#second_section_cv .mark_shown_area div {
  position: relative;
}
#second_section_cv .mark_shown_area div div {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 51%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
#second_section_cv .mark_shown_area div p {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
}
#second_section_cv .mark_shown_area div .where {
  font-size: 16px;
  padding-top: 8px;
}

.meter_1 {
  stroke-dasharray: 357;
  stroke-dashoffset: 357;
}

.meter_2 {
  stroke-dasharray: 357;
  stroke-dashoffset: 357;
}

.meter_3 {
  stroke-dasharray: 357;
  stroke-dashoffset: 357;
}

#second_section_cv .my_skills {
  row-gap: 4rem;
  column-gap: 16rem;
  margin: 4rem 0rem;
}
#second_section_cv .my_skills > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#second_section_cv .project_link {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 2rem 0rem;
}
#second_section_cv .project_link a {
  color: #443E5B;
}
#second_section_cv .project_link a:hover {
  color: #736E84;
}

#grid_container_about {
  background-color: #F9F9F9;
  padding: 2rem;
  border-radius: 1rem;
}
#grid_container_about > * {
  text-align: justify;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #443E5B;
}
#grid_container_about p {
  margin-bottom: 2rem;
}
#grid_container_about div:nth-child(2) {
  grid-column: span 3;
}

#project_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 30px;
}
#project_page a {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 8px solid white;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
#project_page a div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#project_page a.big {
  grid-row: span 2;
}
#project_page a.small {
  grid-row: span 1;
}

.details {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #3E3950;
  background-color: #E8E7EA;
  padding: 32px;
  border-radius: 1rem;
}

.examine-img {
  background-image: url(../svg/examine.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.wire-frame {
  background-image: url(../svg/WireFrame.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.pages-img {
  background-image: url(../svg/pages.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.MG {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 30px;
  padding: 0rem 8rem;
}
.MG > div {
  font-family: "Open Sans";
  grid-row: span 2;
}

.card {
  position: relative;
  border: none;
}

.front, .back {
  display: flex;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 500ms;
  border: 8px solid white;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.front {
  background-size: cover;
  overflow: hidden;
  background-blend-mode: multiply;
  align-items: flex-end;
}

.front:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, transparent, black);
  opacity: 0.5;
  z-index: -1;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.back {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

footer {
  margin-top: 2rem;
  background-color: #0D0724;
  border-radius: 16px;
  padding: 4rem;
}
footer .flex_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .flex_footer p {
  margin: 0;
  color: #A29FAD;
}
footer .flex_footer .icon-col {
  color: #A29FAD;
}
footer .flex_footer div:first-child {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .flex_footer div:first-child > div {
  display: flex;
  gap: 34px;
  align-items: center;
}
footer .flex_footer div:first-child > div > a {
  text-decoration: none;
  color: #A29FAD;
}
footer .flex_footer div:first-child > div > a:hover {
  text-decoration: underline;
  text-decoration: col;
}
footer .flex_footer div h1 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  color: #070412;
}
footer div.copy_right > p {
  text-align: center;
  margin-top: 2rem;
  color: #D0CFD6;
}

div.fixed-navbar-position-home {
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  bottom: 8%;
  background-color: #F9F9F9;
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
}
div.fixed-navbar-position-home nav {
  display: flex;
  gap: 15vh;
}
div.fixed-navbar-position-home nav > * {
  margin: 0;
  text-decoration: none;
  display: inline-flex;
  gap: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0D0724;
  padding: 8px 24px;
}
div.fixed-navbar-position-home nav > *:hover {
  color: #443E5B;
}
div.fixed-navbar-position-home nav > *:first-child {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #736E84;
}
div.fixed-navbar-position-home nav > * i {
  align-self: center;
}
div.fixed-navbar-position-home nav:first-child {
  margin-left: 24px;
}
div.fixed-navbar-position-home nav:last-child {
  margin-right: 24px;
}

.active {
  background-color: #F9F1A0;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.animation-down {
  animation: animate_down 0.2s ease-out 0s 1 normal forwards;
}

@keyframes animate_down {
  0% {
    bottom: 8%;
  }
  100% {
    bottom: -20%;
  }
}
.animation-up {
  animation: animate_up 0.2s ease-out 0s 1 normal forwards;
}

@keyframes animate_up {
  0% {
    bottom: -8%;
  }
  50% {
    bottom: 12%;
  }
  100% {
    bottom: 8%;
  }
}
.infinite_rotation {
  animation: infinite_rotation 80s linear 1s infinite normal forwards;
}

@keyframes infinite_rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.starting_animation {
  stroke-dasharray: 357;
  stroke-dashoffset: 357;
  animation: x 1.5s linear 0s 1 forwards;
}

@keyframes x {
  from {
    stroke-dashoffset: 357;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.timer_svg {
  stroke-dasharray: 357;
  stroke-dashoffset: 0;
  animation: strock 60s linear 0s 1 forwards;
}

@keyframes strock {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 357;
  }
}
.background_flash {
  border-radius: 2rem;
  animation: flash 0.5s ease-in 0s 1 normal forwards;
}

@keyframes flash {
  0% {
    box-shadow: 0px 0px 0px 0px #FFEA20;
  }
  50% {
    box-shadow: 2px 2px 12px 3px #FFEA20;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #FFEA20;
  }
}
.greeting_cv_1 {
  animation: greeting 0.3s ease-out -1s 1 normal forwards;
}

.greeting_cv_2 {
  animation: greeting 0.3s ease-out 0s 1 normal forwards;
}

.greeting_cv_3 {
  animation: greeting 0.3s ease-out 1s 1 normal forwards;
}

.greeting_cv_4 {
  animation: greeting 0.3s ease-out 2s 1 normal forwards;
}

@keyframes greeting {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.meter-animation {
  stroke-dasharray: 357;
  stroke-dashoffset: 357;
  animation: meter 0.5s ease-out 0.2s 1 normal forwards;
}

@keyframes meter {
  from {
    stroke-dashoffset: 357;
  }
  to {
    stroke-dashoffset: 129;
  }
}
.meter-animation_2 {
  stroke-dasharray: 357;
  stroke-dashoffset: 357;
  animation: meter_2 0.5s ease-out 0.5s 1 normal forwards;
}

@keyframes meter_2 {
  from {
    stroke-dashoffset: 357;
  }
  to {
    stroke-dashoffset: 160;
  }
}
.meter-animation_3 {
  stroke-dasharray: 357;
  stroke-dashoffset: 357;
  animation: meter_3 0.5s ease-out 0.75s 1 normal forwards;
}

@keyframes meter_3 {
  from {
    stroke-dashoffset: 357;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@media (max-width: 900px) {
  div.fixed-navbar-position-home nav {
    gap: 8vh;
  }
  #first_section_home {
    justify-content: center;
  }
  #third_section_home {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 780px) {
  div.fixed-navbar-position-home nav {
    gap: 0.5vh;
  }
  div.fixed-navbar-position-home nav:first-child {
    margin-left: 8px;
  }
  div.fixed-navbar-position-home nav:last-child {
    margin-left: 8px;
  }
  .profile {
    display: none;
  }
  .Logo {
    display: none;
  }
  .fixed-navbar-position-home nav i {
    display: none;
  }
  #contentEditableDiv {
    visibility: hidden;
  }
  #first_section_cv p:nth-child(2), #first_section_cv p:nth-child(3) {
    font-size: 34px;
  }
  #second_section_cv > div {
    grid-template-columns: 1fr;
  }
  #second_section_cv .mark_shown_area {
    justify-content: center;
  }
  #second_section_cv .my_skills {
    gap: 4rem;
  }
  .path {
    visibility: hidden;
  }
  #project_page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
  }
  .MG {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-auto-rows: minmax(150px, auto);
  }
}