// main theme
$main_theme: #FFEB3B;
$main_theme_light_1: #FDED60;
$main_theme_light_2: #FBEF85;
$main_theme_light_3: #F9F1AB;
$main_theme_light_4: #F7F3D0;
$main_theme_light_5: #F6F4E3;

// light main
$light_main: #FFEA20;
$light_main_light_1: #FDEC4B;
$light_main_light_2: #FBEE75;
$light_main_light_3: #F9F1A0;
$light_main_light_4: #F7F3CA;
$light_main_light_5: #F6F4E0;

// dark main
$dark_main: #B3A20C;
$dark_main_light_1: #C0B33B;
$dark_main_light_2: #CDC369;
$dark_main_light_3: #DBD498;
$dark_main_light_4: #E8E4C6;
$dark_main_light_5: #EFEDDE;

// complimentary color
$complimentary: #2700B3;
$complimentary_light_1: #5233C2;
$complimentary_light_2: #7D66D1;
$complimentary_light_3: #A999E1;
$complimentary_light_4: #D4CCF0;
$complimentary_light_5: #E9E5F7;

// light complimentary color
$light_complimetary: #5221FF;
$light_complimetary_light_1: #754DFF;
$light_complimetary_light_2: #977AFF;
$light_complimetary_light_3: #BAA6FF;
$light_complimetary_light_4: #DCD3FF;
$light_complimetary_light_5: #EEE9FF;

// Dark colors
$Dark: #070412;
$Dark_light_1: #0D0724;
$Dark_light_2: #3E3950;
$Dark_light_3: #443E5B;
$Dark_light_4: #736E84;
$Dark_light_5: #A29FAD;
$Dark_light_6: #D0CFD6;
$Dark_light_7: #E8E7EA;
$Dark_light_8: #F9F9F9;
