// MAIN CONTAINT

// grid container class
.grid-container-home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto);

    
    
    @for $i from 1 through 5 {
        & > section:nth-child(#{$i}) {
            grid-column: span 12;
        }
    }
}

